body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
  fill-opacity: .2;
}

.bar {
  fill: green;
}

.mentions-container {
  height: 300px;
  overflow-y: auto;
  background-color: #eee;
  width: 400px;
}

.mentions {
  font-size: 11pt;
}

.mentions a {
  text-decoration: none;
  color: black;
}

.mentions a:hover {
  text-decoration: underline;
}
