body {
  font: 15px sans-serif;
  background-color: #ddd;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
  fill-opacity: .2;
}

.bar {
  fill: green;
}

.mentions-container, .users-container {
  height: 270px;
  overflow-y: auto;
  background-color: #ccc;
}

.mentions-container {
  background-color: #aec7e8;
}

.users-container {
  /*background-color: #ffbb78;*/
}

.mentions, .users {
  font-size: 11pt;
}

.mentions a {
  text-decoration: none;
  color: black;
}

.mentions a:hover {
  text-decoration: underline;
}

#map {
  overflow: hidden;
  height: 500px;
}

#map svg {
  position: relative;
  left: 100px;
  top: -400px;
}

.background {
  fill: #fff;
}

.outline {
  stroke: #000;
  stroke-width: 1px;
  fill: none;
}

.land {
  fill: #fff;
}

.land-glow {
  fill: #000;
  fill-opacity: .5;
  filter: url(#glow);
}

.border {
  stroke: #000;
  stroke-width: .5px;
  fill: none;
}

.circle {
  stroke: #f00;
  stroke-width: .5px;
  fill: none;
}

.major {
  stroke-width: 1.5px;
  stroke-dasharray: none;
}

.graticule {
  stroke: #99f;
  stroke-width: .5px;
  stroke-opacity: .3;
  fill: none;
}

.caption {
  font-style: italic;
}
